* {
    font-family: Quicksand;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #0c0c0c;
  }
  
  a {
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
  }
  
  a:hover {
    color: #ffffff;
  }